{% extends "layout.html" %}
{% block content %}
<div class="col-md-8">
    <div class="">
        <a style="float:right; vertical-align: bottom;" href="{{ url_for('new_challenges') }}">Add Challenge</a>
        <legend class="border-bottom mb-2" style="color: #ede68a;">Challenges</legend>
    </div>
    {% for challenge in challenges %}
        <div class="content-section">
            <div>
                <form action="{{ url_for('delete_challenge', id=challenge.id) }}" method="POST" >
                    <input align="right" class="btn btn-sm btn-outline-danger py-0" style="float: right; font-size: 0.8em;" type="submit" value="Delete">
                </form>
                <form action="{{ url_for('edit_challenge', id=challenge.id) }}" method="POST" >
                    <input align="right" class="btn btn-sm btn-outline-primary py-0" style="float: right; font-size: 0.8em;" type="submit" value="Edit">
                </form>
                <legend class="border-bottom mb-4">Challenge: {{challenge.title}}</legend>
            </div>
            {{challenge.description}}
        </div>
    {% endfor %}
</div>

{% endblock content %}
