{% extends "layout.html" %}
{% block content %}

<head>
   <title></title>


<link rel="stylesheet" type="text/css" href="style.css">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100italic,100,400italic,500,500italic,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body>

   <div id = "journal">
         <div class = "comments">
               <textarea id = "content" cols = "64" rows = "10" placeholder = "Say something about yourself."></textarea>
               <button id = "submit" onclick = "isEmpty();clearDiv();">Submit</button>
         </div>
   </div>

   <div id = "entries">
         <h1>Journal Entries</h1>
         <ul>
           <div id = "comment-feed">
             <li id = "first-entry">

             </li>
           </div>
         </ul>
   </div>

<script type="text/javascript">
    String.prototype.isEmpty = function(){
          return (this.length === 0 || !this.trim());
    };

    var guestMessages = {
          msgs: [],

          getMessages: function(msg){
              this.msgs.push("User: " + value + "<br />");

          },

          printMessages: function(){
              guestMessages.getMessages();
              var showEntry = document.getElementById("first-entry").innerHTML = this.msgs;

          }
    };

    var getEntry = function(){
          value = document.getElementById("content").value;
          return value;
    };

    var clearDiv = function(){
        document.getElementById("content").value = "";
    }


    var isEmpty = function(entry){
          entry = getEntry();
          var output = document.getElementById("content").value;
          if ( output == '' ){
                    alert("Enter a message");
          }
           else {
            guestMessages.printMessages();
          }
    }
</script>
</body>
{% endblock content %}
