{% extends "layout.html" %}
{% block content %}
<div class="col-md-8">
    <div class="">
        <a style="float:right; vertical-align: bottom;" href="{{ url_for('entry') }}">Add Challenge</a>
        <legend class="border-bottom mb-2" style="color: #ede68a;">Journal Entries</legend>
    </div>
    {% for entry in entries %}
        <div class="content-section">
            <legend class="border-bottom mb-4">Entry: {{entry.title}}</legend>
            {{entry.content}}
        </div>
    {% endfor %}
</div>
{% endblock content %}
