{% extends "layout.html" %}
{% block content %}
<div class="col-md-8">
    <div class="content-section">
    {% for meal in meals %}
        <div class="">
            <form action="{{ url_for('delete_meal', id=meal.id) }}" method="POST" >
                <input align="right" class="btn btn-sm btn-outline-danger py-0" style="float: right; font-size: 0.8em;" type="submit" value="Delete">
            </form>
            <form action="{{ url_for('edit_meal', id=meal.id) }}" method="POST" >
                <input align="right" class="btn btn-sm btn-outline-primary py-0" style="float: right; font-size: 0.8em;" type="submit" value="Edit">
            </form>
            <legend class="border-bottom mb-4 text-navy">{{meal.food}}</legend>
            <p><pre class="tab">Servings: {{meal.servings}}    Calories: {{meal.calories}}</pre></p>
            <p><pre class="tab">Protein(g): {{meal.protein}}g   Carbs(g): {{meal.carbs}}g    Fats(g): {{meal.fats}}g</pre></p>
        </div>
    {% endfor %}
    </div>
    <a class="ml-2" href="{{ url_for('mealLogAdd') }}">Add Meal</a>
</div>
<div class="col-md-4">
    <div style="text-decoration: underline;" class="content-section">
        <h3>Total Calories: {{totCal}}</h3>
        <h4>Total Carbs: {{totCarbs}}</h4>
        <h4>Total Fats: {{totFat}}</h4>
        <h4>Total Protein: {{totProtein}}</h4>
    </div>
</div>
{% endblock content %}
