{% extends "layoutFull.html" %}
{% block content %}
<div class="content-section">
    <div id="pomodoro-app">
        <div id="container">
            <div id="timer">
                <div id="time">
                    <span id="minutes">25</span>
                    <span id="colon">:</span>
                    <span id="seconds">00</span>
                </div>
                <div id="filler"></div>
            </div>
            <div id="buttons">
                <button id="work" class="btn btn-sm btn-outline-primary">Work</button>
                <button id="shortBreak" class="btn btn-sm btn-outline-success">Short Break</button>
                <button id="longBreak" class="btn btn-sm btn-outline-warning">Long Break</button>
                <button id="stop" class="btn btn-sm btn-outline-danger">Stop</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var pomodoro = {
        started : false,
        minutes : 0,
        seconds : 0,
        interval : null,
        minutesDom : null,
        secondsDom : null,
        init : function(){
            var self = this;
                this.minutesDom = document.querySelector('#minutes');
                this.secondsDom = document.querySelector('#seconds');
                this.interval = setInterval(function(){
                    self.intervalCallback.apply(self);
                }, 1000);
                document.querySelector('#work').onclick = function(){
                    self.startWork.apply(self);
                };
                document.querySelector('#shortBreak').onclick = function(){
                    self.startShortBreak.apply(self);
                };
                document.querySelector('#longBreak').onclick = function(){
                    self.startLongBreak.apply(self);
                };
                document.querySelector('#stop').onclick = function(){
                    self.stopTimer.apply(self);
                };
        },
        resetVariables : function(mins, secs, started){
            this.minutes = mins;
            this.seconds = secs;
            this.started = started;
        },
        startWork: function() {
            this.resetVariables(25, 0, true);
        },
        startShortBreak : function(){
            this.resetVariables(5, 0, true);
        },
        startLongBreak : function(){
            this.resetVariables(15, 0, true);
        },
        stopTimer : function(){
            this.resetVariables(25, 0, false);
            this.updateDom();
        },
        toDoubleDigit : function(num){
            if(num < 10) {
                return "0" + parseInt(num, 10);
            }
            return num;
        },
        updateDom : function(){
            this.minutesDom.innerHTML = this.toDoubleDigit(this.minutes);
            this.secondsDom.innerHTML = this.toDoubleDigit(this.seconds);
        },
        intervalCallback : function(){
            if(!this.started) return false;
            if(this.seconds == 0) {
                if(this.minutes == 0) {
                    this.timerComplete();
                    return;
                }
                this.seconds = 59;
                this.minutes--;
            } else {
                this.seconds--;
            }
            this.updateDom();
        },
        timerComplete : function(){
            this.started = false;
        }
    };
    window.onload = function(){
    pomodoro.init();
    };
</script>
{% endblock content %}
