body {
  background: #383a56;
  color: #333333;
  margin-top: 5rem;
}

a {
  color: #b0a565
}

a:hover {
  color: #ede68a
}

.bg-black {
  background-color: #2f3032
}

.text-navy {
  color: #383a56
}

.text-white {
  color: #383a56
}

.site-header .navbar-nav .nav-link {
  color: #b0a565;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ede68a;
  padding: 10px 20px;
  border: 2px solid #03051e;
  border-radius: 3px;
  margin-bottom: 20px;
}
