{% extends "layout.html" %}
{% block content %}
<div class="col-md-8">
    <div class="">
        <a style="float:right; vertical-align: bottom;" href="{{ url_for('entry') }}">Add Entry</a>
        <legend class="border-bottom mb-2" style="color: #ede68a;">Journal Entries</legend>
    </div>
    {% for entry in entries %}
        <div class="content-section">
            <div>
                <form action="{{ url_for('delete_entry', id=entry.id) }}" method="POST" >
                    <input align="right" class="btn btn-sm btn-outline-danger py-0" style="float: right; font-size: 0.8em;" type="submit" value="Delete">
                </form>
                <form action="{{ url_for('edit_entry', id=entry.id) }}" method="POST" >
                    <input align="right" class="btn btn-sm btn-outline-primary py-0" style="float: right; font-size: 0.8em;" type="submit" value="Edit">
                </form>
                <legend class="border-bottom mb-4">Entry: {{entry.title}}</legend>
            </div>
            {{entry.content}}
        </div>
    {% endfor %}
</div>
{% endblock content %}
