{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-navy">Register</legend>
            <div class=form-group">
                {{ form.username(placeholder="Username", class="form-control  form-control-sm") }}
            </div>
            <br>
            <div class=form-group">
                {{ form.email(placeholder="Email", class="form-control  form-control-sm") }}
            </div>
            <br>
            <div class=form-group">
                {{ form.password(placeholder="Password", class="form-control  form-control-sm") }}
            </div>
            <br>
            <div class=form-group">
                {{ form.confirmPassword(placeholder="Confirm Password", class="form-control  form-control-sm") }}
            </div>
        </fieldset>
        {{ form.submit(class="btn btn-outline-dark") }}
    </form>
</div>
<div class="border-top pt-3 text-white">
    <small>
        Already have an account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
    </small>
</div>
{% endblock content %}
